<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/public/css/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="login-container">
      <h2>Login</h2>
      <form id="loginForm">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="button" onclick="signIn()">Sign In</button>
        <button type="button" onclick="location.href='signup'">Sign Up</button>
      </form>
    </div>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="../public/js/home.js"></script>
  </body>
</html>
