<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>로그인</title>
    <link href="/public/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>로그인</h1>
      </div>
      <div class="main">
        <h2>로그인</h2>
        <input type="text" placeholder="아이디" />
        <input type="password" placeholder="비밀번호" />
        <button onclick="login()" class="btn-login">로그인</button>
      </div>
      </div>
    </div>
  </body>
</html>
