<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup Page</title>
    <link rel="stylesheet" href="/public/css/home.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="signup-container">
      <h2>Sign Up</h2>
      <form id="signupForm">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required />

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />

        <button type="button" onclick="signUp()">Sign Up</button>
      </form>
    </div>
    <script src="../public/js/home.js"></script>
  </body>
</html>
