body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
}

.menu {
  float: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
}

main {
  text-align: center;
  margin: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-bottom: 20px;
}

.expandable-content {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.join-button button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.join-button button:hover {
  background-color: #45a049;
}
